<span class="socials-share share">
    <ul>
        <a href="https://t.me/+989931355952">
            <li>
                <label>بلـه</label>
                <img src="/static/images/product-details/Bale.png">
            </li>
        </a>
        <a href="https://t.me/+989931355952">
            <li>
                <label>سـروش</label>
                <img src="/static/images/product-details/Soroush.png">
            </li>
        </a>
        <a href="https://instagram.com/sajjad_ahmadizad">
            <li>
                <label>اینستاگرام</label>
                <img src="/static/images/product-details/Instagram.png">
            </li>
        </a>
    </ul>
</span>